{
    "app": {
        "host": "127.0.0.1:3000",
        "name": "breeze",
        "mode": "debug",
        "key": "breeze"
    },
    "mysql": {
        "host": "127.0.0.1",
        "port": "3306",
        "database": "breeze",
        "username": "breeze",
        "password": "breeze"
    },
    "reids": {
        "host": "127.0.0.1",
        "port": "6379",
        "password": ""
    }
}